<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./static/css/icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/ico/favicon-16x16.png">
    <link rel="manifest" href="./static/ico/site.webmanifest">
    {% block css %}{% endblock %}
</head>

<body>
    <section class="container is-max-desktop">
        <div class="column is-narrow">
            <div class="print-hidden">
                <nav class="level" role="navigation" aria-label="dropdown navigation">

                    <div class="level-left">
                        <div class="level-item">
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="level-item">
                            {% block downloadpdf %}{% endblock %}

                        </div>
                    </div>

                    <div class="level-right">
                        <div class="level-item">
                            <div class="buttons block is-mobile is-flex px-2 py-2">
                                {% for title, link in MENUITEMS %}
                                <a href="{{ link }}" class="button is-light">
                                    {{ title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </nav>
            </div>

            <div style="min-height: 380px;">

                {% block content %}{% endblock %}
            </div>

            <div class="print-hidden">
                {% include 'footer.html' %}
            </div>
        </div>
    </section>
</body>

</html>
