<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./static/css/icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body is-flex is-justify-content-center">
            {% block content %}{% endblock %}
        </div>
        <footer class="hero-foot is-family-code	px-2 py-2">
            <div class="content has-text-right">
              <p>2022</p>
            </div>
        </footer>
    </section>
</body>
</html>
