{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="justify-content-lg-between">
  <div class="icon icon-generic"></div>
  <div>
  <h1>Sergiy Ryabukha</h1>
  <p>sysadmin and devops engineer from Kyiv, Ukraine.</p>
  <p>ERR_NO_PRETTIER_SITE_FOUND</p>
  <div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button" onclick="window.location='https://github.com/ryabukha';">Visit my GitHub page</button>
    <button class="btn btn-primary" type="button" onclick="window.location='tg://resolve?domain=serg_ryabukha'">Telegram: @serg_ryabukha</button>
  </div>
</div>
</div>
{% endblock %}
