.ul {
  list-style-position: inside;
  margin: 0px;
  padding: 0;
}

.block {
  padding-bottom: 1em;
}

.title-name {
  font-size: 1.6em;
  vertical-align: top;
  font-weight: bold;
}

.header-blue {
  color: #4188C7;
  font-size: 1em;
  font-weight: bold;
}

.header-job {
  font-weight: bold;
  font-size: 1.4em;
}

.text-bold {
  font-weight: bold;
}
