{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="column is-6 is-offset-3">

    <div class="block">
        <div>
            <div class="block field is-mobile">
                {% for type, link, name in SOCIAL %}
                <div class="block">
                    <p><a class="button is-normal is-fullwidth is-info" href="{{ link }}">{{ type }}: {{ name }}</a></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
