{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
<div class="column is-6 is-offset-3">

<div class="block">
    <div>
      <div class="field block is-mobile">
        <a class="button block is-normal is-fullwidth is-info" href="https://docs.google.com/document/d/1OIYloISWsym3IPJxMDRsfYFygYrvK9x1VeaKvaLtvAc/export?format=pdf">download as pdf</a>
        <a class="button block is-normal is-fullwidth is-info" href="https://drive.google.com/file/d/1Ym1Qur1YS5XoohLTplODJk5cDYEohJ7G/view">view pdf</a>
        <a class="button block is-normal is-fullwidth is-info" href="https://docs.google.com/document/d/1OIYloISWsym3IPJxMDRsfYFygYrvK9x1VeaKvaLtvAc">view doc</a>
     </div>
    </div>

</div>
</div>
{% endblock %}
