{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<div class="is-center">
    <div>
        <div>
            <img src="./static/photo/smile128.svg">
            <!-- <img src="./static/photo/smile128.png"> -->
        </div>
        <div>
            <h1>Sergiy Ryabukha</h1>
        </div>
        <p>sysadmin and devops engineer from Kyiv, Ukraine.</p>
        <div>
            <p>ERR_NO_PRETTIER_SITE_FOUND</p>
        </div>
        <div class="row">

            <button class="button col primary" type="button" onclick="window.location='https://github.com/ryabukha'">Visit my
                GitHub
                page</button>
            <button class="button col" type="button" onclick="window.location='https://t.me/serg_ryabukha'">Telegram:
                @serg_ryabukha</button>
        </div>
    </div>
</div>
{% endblock %}
