name: issue-cert

on:
  workflow_dispatch:
  schedule:
    - cron: '30 9 16 * *'

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ryabukha/acme.sh:dev
      env:
        CF_Token: ${{ secrets.CF_Token }}
        CF_Account_ID: ${{ secrets.CF_Account_ID }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
        AWS_CERTIFICATE_ARN: ${{ secrets.AWS_CERTIFICATE_ARN }}
        MY_DOMAIN: ${{ secrets.MY_DOMAIN }}
    steps:
      - name: acme.sh issue
        run: acme.sh --issue --dns dns_cf -d ${MY_DOMAIN} --server letsencrypt_test -k 2048 -w /tmp
      - name: acme.sh install
        run: acme.sh --install-cert -d ${MY_DOMAIN} --key-file /tmp/key.pem --cert-file /tmp/cert.pem --fullchain-file /tmp/fullchain.pem --reloadcmd "cat /tmp/cert.pem"
      - name: ls
        run: ls -loh /tmp
      - name: aws acm
        run: aws acm import-certificate --certificate fileb://tmp/cert.pem --certificate-chain fileb://tmp/fullchain.pem --private-key fileb://tmp/key.pem --certificate-arn ${AWS_CERTIFICATE_ARN}
