name: Upload Website

on:
  workflow_dispatch:
#   push:
#     branches:
#     - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: install pelican
      run: |
        pip install pelican
    - name: render html
      run: |
        pelican "./content" -o $SOURCE_DIR -s "./pelicanconf.py"
    - name: s3 upload
      run: |
        aws s3 sync $SOURCE_DIR s3://$AWS_S3_BUCKET --acl public-read --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}   # optional: defaults to us-east-1
        # SOURCE_DIR: 'html'      # optional: defaults to entire repository
    env:
      SOURCE_DIR: 'html'      # optional: defaults to entire repository

  # invalidate-cloudfront:
  #   needs: deploy
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - name: Invalidate Cloudfront
  #     uses: docker://rewindio/github-action-cloudfront-invalidate
  #     env:
  #       DISTRIBUTION_ID: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
  #       PATH_TO_INVALIDATE: /*
  #       AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #       AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #       AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
  #       AWS_REGION: ${{ secrets.AWS_REGION }}
